/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('../fonts/roboto-v20-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
body {
  background: #EAEAEA;
  width:1000px;
  margin:0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.paper {
  background: #F8F8F8;
  box-shadow: 0px 13px 50px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

header {
  margin-top: 250px;
  height: 250px;
}
h1  {
  text-align: left;
  font-size: 44px;
  font-weight: 700;
}
h2 {
  font-size: 32px;
  font-weight: 400;
}
h3 {
  font-size: 25px;
  font-weight: 400;
  padding-bottom: 20px;
}
.h2_cv {
  font-weight: 100;
}
.offset {
  height: 250px;
}
footer {
  height: 50px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.footers_p {
  font-size: 15px;
  font-weight: 100px;
  
}
ol {
  padding: 0;
  list-style-type: decimal; 
  list-style-position: inside;
  font-size: 32px;
  font-weight: 400;
}
li {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 400;
}
p, .simple_li {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
}
.simple_li {
  list-style-type:none;
  padding: 0;
}
ul {
  list-style-type: circle; 
  list-style-position:unset;
  padding: 0;
}
.description {
  align-items: flex-end;
  padding: 36px 0 36px 120px;
}
.class1 {
  width: 720px;
  margin: 0 auto;
}
.class2 {
  width: 400px;
  height: 125px;
  display: flex;
  align-items: flex-end;
}
.class3 {
  width: 400px;
  height: 125px;
  display: flex;
  align-items: flex-start;
  margin-left: 35px;
}
.myphoto_box {
  position: relative;
  left: 470px;
  bottom: 300px;
  width: 250px;
}
.myphoto {
  height: 250px;
  width: 250px;
  border: 2px solid #8E8E8E;
  box-sizing: border-box;
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.25);
  border-radius: 200px;
}
pre, code {
  display: block;
  font-family: monospace;
  font-size: 15px;
  margin: 0;
  margin-left: 10px;
}
hr {
  border: none; /* Убираем границу для браузера Firefox */
  color: #eaeaea; /* Цвет линии для остальных браузеров */
  background-color: #eaeaea; /* Цвет линии для браузера Firefox и Opera */
  height: 5px;
  margin: 0;
}
.hr_left_to_right {
  margin-right: 175px;

}
.container {
  width: 300px;
  margin: 0 auto;

}
